* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

ul {
  list-style: none;
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background: rgb(116, 227, 64);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 2%;
}

.container {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, 250px);

  @media screen and (max-width: 720px){
    .container{
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 520px){
    .container{
      grid-template-columns: repeat(1, 1fr);
    }
  }

  
}

img {
  width: 250px;
  height: 350px;
}